<p-confirmDialog></p-confirmDialog>
<div class="max-w-4xl mx-auto bg-gray-50 p-6 rounded-lg shadow-lg border border-gray-200">
  <h2 class="text-3xl font-bold text-gray-900 mb-6 border-b border-gray-300 pb-4">Detalles de Reservación</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
    <div *ngIf="isAdmin">
      <p class="text-gray-700 text-lg font-medium">
        <span class="block text-gray-500 font-light">Cliente:</span>
        {{ reservacion?.usuario.name }}
      </p>
    </div>
    <div>
      <p class="text-gray-700 text-lg font-medium">
        <span class="block text-gray-500 font-light">Espacio:</span>
        {{ reservacion?.espacio.nombre }}
      </p>
    </div>
    <div>
      <p class="text-gray-700 text-lg font-medium">
        <span class="block text-gray-500 font-light">Fecha:</span>
        {{ reservacion?.fecha_reseva }}
      </p>
    </div>
    <div>
      <p class="text-gray-700 text-lg font-medium">
        <span class="block text-gray-500 font-light">Hora:</span>
        {{ reservacion?.hora_inicio }} - {{ reservacion?.hora_fin }}
      </p>
    </div>
    <div>
      <p class="text-gray-700 text-lg font-medium">
        <span class="block text-gray-500 font-light">Total:</span>
        ${{ reservacion?.total_precio }}
      </p>
    </div>
    <div>
      <p class="text-gray-700 text-lg font-medium">
        <span class="block text-gray-500 font-light">Estado:</span>
        {{ reservacion?.estado}}
      </p>
    </div>
  </div>
  <p-toast class="my-4"></p-toast>
  <div class="flex justify-end space-x-4 mt-6">
    <button class="p-2 px-4 bg-red-500 text-white font-bold rounded-lg shadow hover:bg-red-600 transition duration-300"
      (click)="cancelarReservacion($event)">
      <i class="pi pi-times"></i> Cancelar
    </button>
    <button *ngIf="isAdmin" [disabled]="reservacion?.estado === 'confirmada'"
      class="p-2 px-4 bg-green-500 text-white font-bold rounded-lg shadow hover:bg-green-600 transition duration-300"
      (click)="pagarReservacion($event)">
      <i class="pi pi-dollar"></i> Pagar
    </button>
  </div>
</div>
