<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-center">
  <div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
      </ng-template>
      <ng-template #title> Reservaciones del dia </ng-template>
      <ng-template #subtitle>No. de reservaciones de hoy</ng-template>
      <ng-template #content></ng-template>
      <ng-template #footer>
      </ng-template>
    </p-card>
  </div>
  <div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
      </ng-template>
      <ng-template #title> Reservaciones pendientes </ng-template>
      <ng-template #subtitle>No. de reservaciones pendientes</ng-template>
      <ng-template #content></ng-template>
      <ng-template #footer>
      </ng-template>
    </p-card>
  </div>
  <div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
      </ng-template>
      <ng-template #title>Usuarios registrados</ng-template>
      <ng-template #subtitle>Total de usuarios registrados</ng-template>
      <ng-template #content></ng-template>
      <ng-template #footer>
      </ng-template>
    </p-card>
  </div>
  <div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
      </ng-template>
      <ng-template #title> Espacios existente </ng-template>
      <ng-template #subtitle>No. total de espacios</ng-template>
      <ng-template #content></ng-template>
      <ng-template #footer>
      </ng-template>
    </p-card>
  </div>
  <div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
      </ng-template>
      <ng-template #title> Ingreso del mes</ng-template>
      <ng-template #subtitle>Total de ingreso de reservaciones</ng-template>
      <ng-template #content></ng-template>
      <ng-template #footer>
      </ng-template>
    </p-card>
  </div>
  <div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
      </ng-template>
      <ng-template #title> Reservaciones del mes </ng-template>
      <ng-template #subtitle>Porcentaje de reservaciones del mes</ng-template>
      <ng-template #content></ng-template>
      <ng-template #footer>
      </ng-template>
    </p-card>
  </div>
</div>
<div class="card">
  <p-chart type="line" [data]="data" [options]="options" class="h-[30rem]" />
</div>
