<p-confirmDialog></p-confirmDialog>
<div class="max-w-2xl mx-auto bg-white rounded-xl shadow-lg px-8 py-10">
  <form [formGroup]="EspacioForm" (ngSubmit)="espacio ? actualizarEspacio() : crearEspacio()" class="space-y-6">

    <h2 class="text-2xl font-bold text-gray-800 text-center">
      {{ espacio ? 'Actualizar Espacio' : 'Crear Espacio' }}
    </h2>

    <div>
      <label for="nombre" class="block text-sm font-medium text-gray-700 mb-1">Nombre</label>
      <input pInputText formControlName="nombre" class="w-full" placeholder="Nombre del espacio" />
      <small *ngIf="EspacioForm.controls['nombre'].invalid && EspacioForm.controls['nombre'].touched"
        class="text-red-500">Nombre requerido</small>
    </div>

    <div>
      <label for="capacidad" class="block text-sm font-medium text-gray-700 mb-1">Capacidad</label>
      <p-inputNumber formControlName="capacidad" [min]="1" class="w-full"
        placeholder="Capacidad máxima"></p-inputNumber>
      <small *ngIf="EspacioForm.controls['capacidad'].invalid && EspacioForm.controls['capacidad'].touched"
        class="text-red-500">Capacidad mínima: 1</small>
    </div>

    <div>
      <label for="precio_hora" class="block text-sm font-medium text-gray-700 mb-1">Precio por hora (MXN)</label>
      <p-inputNumber formControlName="precio_hora" [min]="1" mode="currency" currency="MXN" locale="es-MX"
        class="w-full" placeholder="0.00"></p-inputNumber>
      <small *ngIf="EspacioForm.controls['precio_hora'].invalid && EspacioForm.controls['precio_hora'].touched"
        class="text-red-500">El precio mínimo es $1</small>
    </div>

    <div class="flex justify-between items-center">
      <label for="disponibilidad" class="text-sm font-medium text-gray-700">Disponible</label>
      <p-inputSwitch formControlName="disponibilidad"></p-inputSwitch>
    </div>

    <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'"
      [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'" />
    <div class="flex justify-between pt-4">
      <p-button type="submit" [label]="espacio ? 'Actualizar' : 'Crear'" [disabled]="EspacioForm.invalid"
        class="p-button-rounded p-button-primary w-32"></p-button>

      <p-button *ngIf="espacio" type="button" label="Eliminar" icon="pi pi-trash"
        class="p-button-rounded placeholder-red-600 w-32" (click)="eliminarEspacio($event)"></p-button>

      <p-button *ngIf="espacio" type="button" label="Reservar" icon="pi pi-calendar"
        class="p-button-rounded placeholder-blue-400 w-32" [disabled]="!espacio.disponibilidad"
        (click)="reservarEspacio()">
      </p-button>

      <p-button *ngIf="espacio" type="button" label="Lista" icon="pi pi-list" class="p-button-rounded w-32"
        (click)="volverALista()"></p-button>
    </div>
  </form>
</div>
